<header>
    <div class="container-gid header-flex">


        <img class="logo" src="/assets/images/logo.svg" alt="">

        <nav class="menu" id="navMenu">
            <!-- sugestão: aqui poderia colocar o logotipo -->
            <a class="menu-item" routerLink="">Início</a>
            <a class="menu-item" routerLink="">Horários</a>
            <a class="menu-item" routerLink="">Campeonato</a>
            <a class="menu-item" routerLink="">Resultados</a>
            <a class="menu-item" routerLink="/login">Login</a>
        </nav>

        <!-- menu hamburger -->
        <img onclick="mostrarMenu()" class="menu-bar" src="/assets/images/bars.svg" alt="">
    </div>
</header>